html {
  height: 100%;
  background: hidden;
}

html,
body {
  color: white;
}
body {
  min-height: 100%;
  background: linear-gradient(rgba(32, 0, 32, 1), rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: grid;
  grid-template-areas:
    "nav nav"
    "main main";
  grid-template-rows: 20vh 1fr;
  grid-template-columns: 1fr;
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid lightseagreen;
}

.logo {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 8px;
  padding-left: 2rem;
}

.add-book {
  height: 5rem;
  width: 5rem;
  margin-right: 3rem;
  border-radius: 10px;
  background-color: lightseagreen;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.hide-form {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 30vw;
  background-color: black;
  font-size: 1.5rem;
  padding: 5rem;
  gap: 2rem;
  border: 5px solid lightseagreen;
}

.display {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 5rem;
  justify-content: center;
  background-color: rgb(34, 31, 31);
}

.card {
  border-top: 5px solid lightseagreen;
  border-radius: 5px;
  line-height: 2;
  font-size: 2rem;
  background-color: black;
  box-shadow: 0 19px 38px rgba(192, 192, 192, 0.3),
    0 15px 12px rgba(175, 174, 174, 0.22);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-btn {
  width: min-content;
  align-self: end;
  font-size: 1rem;
  margin: 1rem;
  background-color: red;
  border: none;
  border-radius: 5px;
}
